h1 {
    color: darkgreen;
}

div.center {
    position: absolute;
    top: 20%;
    left: 20%;
}

div.right {
    position: absolute;
    top: 2%;
    right: 5%;
}

img {
    /* visibility: hidden; */
    width: 50px;
}

h3 {
    display: inline;
    color: darkgreen;
}